.nav {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 700;
  font-optical-sizing: auto;
  background-color: rgb(24, 119, 242);
  padding-block: 0.875rem;
  padding-inline: 0.875rem;
  position: relative;
  top: 0;
}

.upper_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
}

.logo {
  font-size: 1.625rem;
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);;
}

.icon {
  font-size: 1.5rem;
  border: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
}